@using Microsoft.AspNetCore.Components.Web;
@using crafts.WebSite.Models;
@using crafts.WebSite.Services;
@inject ProductJsonFileService ProductService;

<div class="card-column">
    @foreach (var product in ProductService.GetProducts())
    {
        <div class="product-card">
            <div class="card-img"
                style="background-image: url('@product.Image'); height: 200px; background-size: contain; background-repeat: no-repeat; background-position: center;">
            </div>
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
                <div>@product.Description</div>
                <hr />
                <div class="product-footer">
                    <div>-@product.Maker</div>
                    <small class="text-muted">
                        <button @onclick="(e => SelectProduct(product.Id))" data-toggle="modal" data-target="#productModal"
                            class="btn btn-primary">
                            More Info
                        </button>
                    </small>
                </div>

            </div>
        </div>
    }
</div>

@if (selectedProduct != null)
{
    <div class="product-modal-container" @onclick="DeselectProduct">
        <div class="product-modal" @onclick:stopPropagation>
            <div class="close-modal" @onclick="DeselectProduct">X</div>
            <div class="card-img"
                style="background-image: url('@selectedProduct.Image'); height: 200px; background-size: contain; background-repeat: no-repeat; background-position: center;">
            </div>
            <h5 class="card-title">@selectedProduct.Title</h5>
            <div>@selectedProduct.Description</div>
        </div>
    </div>

}

@code {
    Product selectedProduct;
    string selectedProductId;

    void SelectProduct(string productId)
    {
        selectedProductId = productId;
        selectedProduct = ProductService.GetProducts().First(x => x.Id == productId);
    }

    void DeselectProduct()
    {
        selectedProductId = null;
        selectedProduct = null;
    }

}
